bin/
build/
.classpath
.devcontainer/
dist/
docs/
.gradle/
guides/*.html
HelloWorld.*
.ipynb_checkpoints/
L01/*.htmlold-diario.rst
local/
old-diario.rst
.project
__pycache__/
.settings/
src/main/java/it/unimi/di/prog2/scratch/
src/scratch/java/it/unimi/di/prog2/stud/
words.txt
